.SelectTabWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    .SelectTabItemWrapper {
        &::after {
            content: '';
            width: 1px;
            height: 10px;
            border-left: 1px solid var(--el-border-color);
        }

        &:last-child::after {
            display: none;
        }

        .SelectTabItem {
            padding: 8px 16px;
            color: var(--el-text-color-placeholder);

            &:hover {
                cursor: pointer;
            }

            &:hover,
            &.SelectTabItemActive {
                color: var(--el-text-color-primary);
            }
        }
    }
}