<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.codebro.fortresssystem.mapper.FortressAuthMapper">

    <select id="countDistributionInRole" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM F_ROLE_AUTH
        WHERE auth_id = #{id}
    </select>

    <insert id="insertRoleAuth">
        INSERT INTO F_ROLE_AUTH(id, role_id, auth_id) VALUE (#{id}, #{roleId}, #{authId})
    </insert>

</mapper>