<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.codebro.fortresssystem.mapper.FortressMenuMapper">

    <insert id="insertRoleMenu">
        INSERT INTO F_ROLE_MENU(id, role_id, menu_id) VALUE (#{id}, #{roleId}, #{menuId})
    </insert>

    <select id="getBoundedMenusByRoleId" resultType="cn.codebro.fortresssystem.pojo.Menu">
        SELECT FM.id,
               FM.parent,
               FM.name,
               FM.icon_name,
               FM.route_name,
               FM.page_title,
               FM.page_path,
               FM.type,
               FM.page_type,
               FM.component_path,
               FM.status,
               FM.description,
               FM.order_num,
               FM.create_by,
               FM.create_time,
               FM.update_by,
               FM.update_time
        FROM F_MENU FM
                 left join F_ROLE_MENU FRM on FM.id = FRM.menu_id and FRM.role_id = #{roleId}
    </select>
</mapper>