<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.codebro.fortresssystem.mapper.FortressMenuMapper">

    <insert id="insertRoleMenu">
        insert into f_role_menu(id, role_id, menu_id) value (#{id}, #{roleId}, #{menuId})
    </insert>

</mapper>