<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.codebro.fortresssystem.mapper.FortressMenuMapper">

    <insert id="insertRoleMenu">
        INSERT INTO F_ROLE_MENU(id, role_id, menu_id) VALUE (#{id}, #{roleId}, #{menuId})
    </insert>

    <delete id="deleteByRoleId">
        DELETE
        FROM F_ROLE_MENU
        WHERE role_id = #{roleId}
    </delete>

    <select id="selectMenuByRoleId" resultType="cn.codebro.fortresssystem.pojo.Menu">
        SELECT FM.id,
               FM.parent,
               FM.name,
               FM.icon_name,
               FM.route_name,
               FM.page_title,
               FM.page_path,
               FM.type,
               FM.page_type,
               FM.component_path,
               FM.description,
               FM.order_num
        FROM F_MENU FM
                 LEFT JOIN F_ROLE_MENU FRM ON FM.id = FRM.menu_id AND FRM.role_id = #{roleId}
        WHERE FM.status = 1
        ORDER BY FM.order_num
    </select>
</mapper>